.post-more-link .btn {
    color: #555;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
    line-height: 2;
}
.btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    background: #222;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}